
h1 {
    Color: #A61313;
    margin: 0;
    padding: 1rem .2%;
    font-size: 36px;
  }

  .header {
    background-color: #000;
    color: #E6E6E6;
    padding: 20px;
    text-align: center;
  }

                        /* Nav Stuff Goes Here */
  nav{
    background-color: #7C0E0E;
  }

  nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
  }

  nav a{
    font-size: 1.1rem;
    text-decoration: none;
    color:  #1a1a1a;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem ;
  }

  nav li.active a{
    background-color: #A61313;
    color: #E6E6E6;
  }

  nav a:hover{
    color: #E6E6E6;
  }
                        /* Main Stuff Here*/
  main ol{
    padding: .2rem 3vw;
    color: #004041;
    background-color: #008181;
  }

  h2 {
    margin: 0;
    padding: 1rem 2%;
    Color: #008181
  }

  body, p {
    margin: 0;
    padding: .5rem;
  }
  
  body {
    background-color: #1a1a1a;
    color: #E6E6E6;
    font-family: 'Courier Prime', monospace;
  }


                        /* Footer Stuff Here*/
  footer{
    background-color: #242526;
    text-align: center;
    color: #7C0E0E;
    padding: .4rem 0;
    font-size: .9rem;
  }
  
  footer a{
    color:#7C0E0E ;
  }

  /* Grungy background pattern */
  body {
    background-image: url('grunge-texture.jpg');
    background-repeat: repeat;
  }
  
  