
body{
    font-size: 20px;
    text-align: center;
}
h1{
    font-size: 50px;
    padding: 20px;
    animation: anim 1s ease-in;

}
h3{
    color: orange;
}
a{
    text-decoration:none;
    color: green;
}
button{
    height: 20px;
    width: 30%;
    height: 50px;
    border-radius: 15px;
    background-color: darkgreen;
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button:hover{
    cursor: pointer;
    background-color: rgb(42, 147, 42);
}


/*Grid container settings here*/

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
}



@keyframes anim {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}